/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section, footer{
    padding:4% 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*Top Section Styles*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 10rem 2rem 10rem;
}

.logo {
    width: 25%;
}

.nav-bar a {
    margin: 2rem 6rem 2rem 6rem;
    text-decoration: none;
    color: black;
}

.header-image {
    display: flex;
    justify-content: center;
    margin: 8rem 10rem 2rem 10rem;
}

.main-image {
    width: 100%;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
}

.top-content .text-container {
    width: 50%;
    padding: 0 1%;
}

.text-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-container h2 {
    text-align: center;
}

/*Middle Section Styles*/
.middle-content {
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
}

.middle-content h2 {
    margin-bottom: 0;
}

.middle-content .boxes {
    margin: 4% 0;
    color: white;
}

.boxes {
    display: flex;
    flex-wrap:wrap;
    grid-template-columns : repeat(5,1fr);
    gap : 6rem;
}

.boxes > div{
    min-height : 24rem;
    flex:none;
    width: calc(20% - 6rem);
  }

.box-one {
    color: white;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-two {
    color: white;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-three {
    color: white;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-four {
    color: white;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-five {
    color: white;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-six {
    color: white;
    background-color: forestgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-seven {
    color: white;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-eight {
    color: white;
    background-color: hotpink;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-nine {
    color: white;
    background-color: indigo;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-ten {
    color: white;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width: 25%;
    text-align: start;
}

.bottom-content .text-container h2 {
    text-align: start;
    margin-bottom: 3rem;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*Footer Styles*/
footer {
    width: 100%;
    background-color: #ff4b00;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    text-decoration: none;
    color: white;
}

/*About Page Styles*/


/*Responsive Styles*/